@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');/* NAVIGATION STYLING */

nav ul{
     list-style-type: none;
     padding: 0;
     margin: 0;

}

nav li{
    display: inline-block;
    margin-right: 28px;
}


body{
    background-color: #bf9141;

       max-width: 780px;
       max-width: 70ch;
       margin-left: auto;
       margin-right: auto;

       /* This sets the default font for the site */
       ont-family: "Source Sans 3", sans-serif;
    
}
h1{
    font-family: "Monoton", sans-serif;
}
h2{
    font-family: "Monoton", sans-serif;
}
img, video{
     max-width: 100%;
     height: auto;

}